<div class="buttonprofile">
    <div class="btn1">
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
    </div>
    <div class="btn2">
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
     </div>
     <div class="btn3">
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
     </div>
</div>
<div class="container-fluid">
    
    <div class="row flex-row flex-nowrap">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">bus name</li>
              <li class="list-group-item">Starttime/reach time</li>
              <li class="list-group-item">booked seat</li>
              <li class="list-group-item">fair per seat</li>
              <li class="list-group-item">total no of seta</li>
             
            </ul>
          </div>
        </div>
        <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
       <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card card-block">Card</div>
      </div> -->
    </div>

