<div class="bg-header">
  
  <div>
    
    <form (ngSubmit)="onsubmitcrediential()">
      
      <div class="form-header">
        <h3 class="adminheader">Login</h3>
     
  <hr>
  <BR>
        <div class="mb-1">
          <input
            type="text"
            class="form-control"
            #distance="ngModel"
            id="exampleInputEmail1"
            name="adminname"
            [(ngModel)]="adminname"
            placeholder="Adminname"
            aria-describedby="emailHelp"
          />
          <div *ngIf="distance.errors?.['required']">
            <p class="error-msg">this field is required</p>
          </div>
        </div>
        
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="adminpassword"
            [(ngModel)]="adminpassword"
            id="exampleInputEmail1"
          />
        </div>
  
        <button type="submit" class="btn ">Submit</button>
      </div>
    </form>
  
  </div>
</div>

