<form>
    <div class="form-header">
    <div class="mb-1 ">
      
      <input type="text"  class="form-control"id="exampleInputEmail1" [(ngModel)]="busName" placeholder="Username"aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
     <input type="password"  class="form-control" placeholder="Password" [(ngModel)]="busNo" id="exampleInputEmail1" >
    </div>

    <select class="form-select selectcontent" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">Owner</option>
        <option value="2">Admin</option>
       
      </select>
   
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
