<div class="bg-header">
<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Superadmin
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h2>register</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
    <div class="dropdown mt-3">
      
     
    </div>
  </div>
</div>

<form (ngSubmit)="onsubmitcrediential()">
    <div class="form-header">
    <div class="mb-1 ">
      
      <input type="text"  class="form-control"id="exampleInputEmail1" name="adminname" [(ngModel)]="adminname" placeholder="Adminname"aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
     <input type="password"  class="form-control" placeholder="Password" name="adminpassword"[(ngModel)]="adminpassword" id="exampleInputEmail1" >
    </div>

    
   
    <button type="submit"  class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
