<div class=" resource"> 
<!-- <div class="resource-header"> -->
  <a
    class="btn resource-add-btn "
    data-bs-toggle="offcanvas"
    href="#offcanvasExample"
    role="button"
    aria-controls="offcanvasExample"
  >
    Add Resourse
  </a>

  <div class="exportdatas-header">
    <form (ngSubmit)="getexportvalues()">
      <div class="exportdatas">
     <b>StartDate:</b>
          <input
            type="date"
            [(ngModel)]="StartDate"
            class="datepicking"
            name="StartDate"
          />
        <b>ReachDate:</b> 
          <input
            type="date"
            [(ngModel)]="ReachDate"
            class="datepicking"
            name="ReachDate"
          />
      
        <div class="export-btn">
          <i class="fas fa-file-export export-icon"></i>
        </div>
      </div>
    </form>
  </div>
<!-- </div> -->
<div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
    style="width: 300px;"
  >
    <div class="offcanvas-header">
      
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div >
      <form class="adminForm example-form " (ngSubmit)="adminreg()">
        <mat-form-field >
          <mat-label>Admin Name</mat-label>
          <input matInput placeholder="Admin Name"   type="email"
          
          name="adminname" [(ngModel)]="adminlogin.adminname"  matNativeControl required 
          placeholder="Admin Name"
          
         >
        </mat-form-field>
        
      
        <mat-form-field class="example-full-width">

          <mat-label>Admin Password</mat-label>
          <input  placeholder="Admin Password" type="password"
          
          name="adminpassword"  [(ngModel)]="adminlogin.adminpassword"  matNativeControl required 
          placeholder="Admin Password"
         >
        </mat-form-field>
        
        

<mat-form-field class="example-full-width">

  <mat-label>Roll Base</mat-label>
  <select   [(ngModel)]="adminlogin.rollbase" name="rollbase" matNativeControl required  placeholder="Roll"   >
    <option >Roll Base</option>
    <option value="Admin-Rw">Admin-Rw</option>
    <option value="Admin-R">Admin-R</option>
    
  </select>

</mat-form-field>
<br>

        <button type="submit" class="btn addResourceBtn">ADD</button>
      </form>
    </div>
  </div>
  <!-- card -->

  <div class="count-bar container mb-5">
    <div class="count shadow">
      <div>
        <h1>{{ busdetail.userNameCount }}</h1>
        <p>User</p>
      </div>
    </div>
    <div class="count shadow">
      <div>
        <h1>{{ busdetail.totalBusCount }}</h1>
        <p>Bus</p>
      </div>
    </div>
    <div class="count shadow">
      <div>
        <h1>{{ busdetail.scheduleCount }}</h1>
        <p>Schedules</p>
      </div>
    </div>
    <div class="count shadow">
      <div>
        <h1>{{ busdetail.bookedSeatsCount }}</h1>
        <p>Bookings</p>
      </div>
    </div>
  </div>

   

  <mat-form-field appearance="standard">
   
    <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>

  <div class="mat-elevation-z8  table-content">
    <table class="table-content1" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="SNO">
        <th mat-header-cell *matHeaderCellDef class="table-header">
          SNO
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
          
        </td>
      </ng-container>

      <ng-container matColumnDef="AdminName">
        <th mat-header-cell *matHeaderCellDef class="table-header">
          AdminName
        </th>
        <td mat-cell *matCellDef="let element">
          <input type="text" class="input-column" [(ngModel)]="element.adminname" [disabled]="element.adminid==checkAdminId?'false':true">
        </td>
      </ng-container>

      <ng-container matColumnDef="RollBase">
        <th mat-header-cell *matHeaderCellDef class="table-header">
          RollBase
        </th>
        <td class="table-data" mat-cell *matCellDef="let element">
          <input type="text"  class="input-column" [(ngModel)]="element.rollbase" [disabled]="element.adminid==checkAdminId?'false':true">
        </td>
      </ng-container>

      <ng-container matColumnDef="Option">
        <th mat-header-cell *matHeaderCellDef class="table-header">Option</th>
        <td mat-cell *matCellDef="let element">
          <button
          type="button"
          class="btn editBtn pwr-btn mx-2"
          (click)="adminDetailEdit(element.adminid)"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          type="button"
          class="btn editBtn  pwr-btn mx-2"
          (click)="adminDetailUpload(element.adminid, element)"
          *ngIf="element.adminid == checkAdminId"
        >
          <i class="fa-solid fa-upload"></i>
        </button>

        <button type="button" class="btn btn-danger pwr-btn mx-2" (click)="adminDelete(element.adminid)">
          <i class="fa-solid fa-trash"></i>
        </button>
        </td>
      </ng-container>

      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
     

      
    </table>

    
  </div>
  <mat-paginator
  [pageSizeOptions]="[5, 10, 20, 30]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>


</div>

