<div class="loginbg">
    <img src="../../../assets/Images/bgbuslist.jpg">
    <form class="login">
        <div class="loginfield">
            <h4>Registration</h4>

            <input type="text" placeholder="User name" required>
            <input type="password" placeholder="Password" required>
            <input type="text" placeholder="91-xxxx-xxxx-xx" required>
            <div class="loginbtn">
                <button type="button">submit</button>
            </div>
        </div>
    </form>
</div>