
<div class="modal fade login_modal" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="login-form" (ngSubmit)="login()"> 
            <div class="login-fields">
                <input type="text" class="form-control mb-4" name="username" [(ngModel)]="username"  placeholder="User name" required>
                <input type="password" class="form-control mb-4" name="password" [(ngModel)]="password" placeholder="Password" required>
            </div>
            <h6 class="text-center mt-2">Don't have an Account? <a class="Register" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Register</a></h6>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Registration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="login" (ngSubmit)="submitcredential()">
                <div class="loginfield">
                    <input type="text"class="form-control mb-4"  name="username" [(ngModel)]="reg.username" placeholder="User name" required>
                    <input type="text" class="form-control mb-4"   name="name" [(ngModel)]="reg.name" placeholder="Name" required>
                    <input type="email" class="form-control mb-4"  name="email" [(ngModel)]="reg.email" placeholder="Email" required>
                    <input type="password" class="form-control mb-4"   name="password"[(ngModel)]="reg.password" placeholder="Password" required>
                    <input type="text" class="form-control mb-4"  name="mobileno"  [(ngModel)]="reg.mobileno" placeholder="91-xxxx-xxxx-xx" required>
                    
                </div>
                <h6 class="text-center mt-2">Already have an Account? <a class="Register" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">login</a></h6>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-target="" data-bs-toggle="modal">Register</button>
                  </div>
            </form>
        </div>
        
      </div>
    </div>
  </div>
  <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Login</a>
  <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle2" role="button">Register</a>
