
<div class="loginbg">
   
    <img src="bgbuslist.jpg">
    <form class="login" (ngSubmit)="login()">
        <div class="loginfield">
            <h4>Login</h4>

            <input type="text" name="username" [(ngModel)]="username"  placeholder="User name" required>
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
           
            <div class="loginbtn">
                <button type="submit">submit</button>
            </div>
        </div>
    </form>
</div>


