<div class="home-background">
  <div class="outbutton">
    <!-- <button routerLink="/register" class="regbutton">Register</button>
    <button routerink="/login" class="signbutton">Signup</button> -->
  <app-buttton [name]="register"></app-buttton>
  <app-buttton [name]="signup"></app-buttton>
  <app-buttton [name]="click"></app-buttton>
  <app-buttton [name]="pin"></app-buttton>
  </div>
  <div class="journeysection">
    <form (ngSubmit)="getbusschedule()">
    <div class="journeybox">
      <div class="journeyinp">
        <input type="date" name = "date" [(ngModel)]="date">
        <div class="form-floating mb-2 ">
          <input type="text" name = "from" [(ngModel)]="from" class="form-control" id="floatingInput" placeholder="From">
          <label for="floatingInput">From</label>
        </div>
        <div class="form-floating">
          <input type="text" name = "to" [(ngModel)]="to" class="form-control" id="floatingto" placeholder="To">
          <label for="floatingPassword">To</label>
        </div>
        <button type="submit" class="signbutton">Submit</button>
       
      </div>
    </div>
    </form>
    <app-buscardlist [class.d-none]=" showmusiccard"[schedulelist]="schedulelist"></app-buscardlist>
    <!-- {{schedulelist|json}} -->
  </div>
  