
  <form>
    <div class="main">
      <form  class="form">
        <div class="dateform">
          <h2>Select Bus date</h2>
           <input type="date" name="date" id="">
          </div>
          <div class="journeyplace">
            <select name="from" id="fromplace" >
              <option value="chennai">chennai</option>
              <option value="coimpbatore">coimbatore</option>
              
            </select>
            <div class="journeytoplace">
            <select name="to" id="toplace">
              <option value="coimbatore">coimbatore</option>
              <option value="pondi">pondi</option>
              
            </select>
          </div>
          </div>
          <div class="button">
             <button  mat-raised-button>Submit</button>
             <button mat-raised-button color="primary">Back</button>
          </div>
      </form>
     
  </div>

  </form> 
  
  <div class="card" style="width: 25rem;margin-left:50px;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> 
 
        
