.ownerContainer
{
    padding:50px;
     
}

.owner-header
{
    width:100%;
    text-align:center;
    background-color: #08088A;
    color:white;
    padding:25px;

}
.shadow-lg
{
    width:1000px;

}

.page-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    
.TopBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.status
{
 font-size:10px;
 align-items: center;;
  
   
}
.status_check
{
    width:10px;
    height:25px;
    border-radius: 10px;
}
.btnstyle
{
    border:none;
    margin-left:50px;
}


 .table-header
 {
    color:#08088A;
width:200px;
 
 }
 
 .statusInput{
    border: none;
    background: none;
    width:100px;
 }
 .statusInput:focus {
    outline: none;
    border-bottom: 2px solid #08088A;

 }
 .uploaddata
 {
    background:white;
 }
.statusEdit
{
    background:#08088A;
}
.editSign
{
    color:white;
}
.table-content1{
    width: 100%;
    overflow: scroll;
    table-layout: fixed;
}
 
.text-uppercase{
    background-image: linear-gradient(to left, #533483, indigo, #562B08, blue, #182747, red, blue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: rgb(66, 151, 66);
    border-radius: 50%;
    display: inline-block;
   
  }
  .statusContent

{
    display:flex;
    align-items: center;
}



    @media (max-width:1200px)
    {
        .table-content{
            width: 100%;
            overflow: scroll;
            table-layout: fixed;
        }
        .table-header
      {
       color:#08088A;
     }
 .coverage{
    width: 90%;
   word-wrap: break-word;
}
    }
@media(max-width:500px)
{
    .ownerContainer
    {
        padding:20px;
         
    }
}

   






 
