<div class="home-background">
    <!-- <div class="outbutton"> -->
      <!-- <button routerLink="/register" class="regbutton">Register</button>
      <button routerink="/login" class="signbutton">Signup</button> -->
    <!-- Injection Method
    <app-buttton [color]="primary" (newEvent)="onclickregister()" [name]="register"></app-buttton>
    <app-buttton [color]="secondary"  (newEvent)="onclicksignup()" [name]="signup"></app-buttton>
    <app-buttton [color]="success"  (newEvent)="onclick()"  [name]="click"></app-buttton>
    <app-buttton [color]="danger"  (newEvent)="onclickpin()"  [name]="pin"></app-buttton> -->
    <!-- </div> -->
    <div class="journeysection">
      <div class="profileheader dropdown" >
        <div [class.d-none]="!if_userpresent" >
          <button type="button" class="logoutbtn btn btn-primary" (click)="loginpop($event)" >Login</button>
          <button type="button" class="logoutbtn btn btn-primary" (click)="RegisterPop()">Register</button>
        </div>
      
        <div class="profavatar" [class.d-none]="if_userpresent">
          <img src="../../assets/Images/profile.svg"/>
        <h1 class="profile">{{username}}</h1>
        <div class="dropdown-item">
          
          <div class="caption"> <button type="button" (click)="logout($event)" class="logoutbtn btn btn-primary">LogOut</button></div>
          </div>
        </div>
        
     
     
      </div>
      
      <form (ngSubmit)="getbusschedule()">
      <div class="journeybox shadow p-3 mb-5 bg-body rounded">
        <div class="journeyinp">
          <div class="form-floating mb-2 ">
          <input type="date" class="form-control"  id="floatingInput" min="{{today | date:'yyyy-MM-dd'}}" name = "date" [(ngModel)]="date">
          </div>
          <div class="form-floating mb-3 ">
            <select class="form-select"  (ngModelChange)="onfrom($event)" [(ngModel)]="from" name="from"  aria-label="Default select example" >
              <option selected>Where to Pickup?</option>
              <option  [value]="value" *ngFor="let value of buscoverage" >{{value}}</option>
            </select>
           
          </div>
          <div class="form-floating">
            <select class="form-select"   [(ngModel)]="to" name="to"  aria-label="Default select example" >
              <option selected>Where to dro?</option>
              <option  [value]="value" *ngFor="let value of savefromoption" >{{value}}</option>
              
            </select>
            
            </div>
  
          <!-- <mat-form-field>
          
            <mat-select placeholder="from" [formcontrol]="fromoption1" required [(ngModel)]="to" name="to"  aria-label="Default select example" >
              <mat-option *ngFor="let value of savefromoption" [value]="value">
             {{value}}
            </mat-option>
            <mat-error *ngIf="fromoption1.haserror('required')">please select</mat-error>
            </mat-select>
           
          
        </mat-form-field> -->
  
  
         
         
        </div>
        <div class="submitbtn">
          <button type="submit"  [disabled]="!date||!from ||!to" class="btn btn-secondary submitBtn" >Submit
          </button>
          <img class="busimage" src="../../assets/Images/bus2.svg">
        </div>
        
      </div>
      </form>
     
    </div>
    <app-buscardlist [class.d-none]="showmusiccard" [schedulelist]="schedulelist"></app-buscardlist>
  
    </div>
  
    
    